<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>P5S Charactor Custume Mod</title>
  <style>* { box-sizing: border-box; } :root:lang(en) :lang(zh), :root:lang(zh) :lang(en) { display: none }</style>
  <script>if (navigator.language.startsWith('zh')) document.documentElement.lang = 'zh'</script>
</head>
<body>
  <h1><span lang="en">P5S Charactor Custume Changer</span><span lang="zh">P5S换装MOD</span></h1>
  <div id="app">
    <label>
      <span lang="en">Select 'game.exe' in P5S game folder:</span><span lang="zh">选择P5S游戏目录中的 'game.exe' 文件：</span>
      <input type="file" ref="file" accept=".exe" @change="readFile" :disabled="!!values" />
    </label>

    <template v-if="values">
      <table border="1" style="width: 500px; margin-top: 16px; font-family: monospace;">
        <tr>
          <th><span lang="en">Charactor</span><span lang="zh">角色</span></th>
          <th><span lang="en">Address</span><span lang="zh">地址</span></th>
          <th><span lang="en">Custume</span><span lang="zh">装扮</span></th>
        </tr>
        <tr v-for="name of charactors" :key="name">
          <td v-text="name"></td>
          <td>0x0{{addresses[name].toString(16).toUpperCase()}}</td>
          <td>
            <select v-model="values[name]" style="width: 100%">
              <option v-for="(str, custume) in options[name]" :key="custume" :value="str">{{custume}}</option>
            </select>
          </td>
        </tr>
      </table>
    </template>

    <template v-if="values">
      <p><span lang="en">DO BACKUP THE ORIGINAL GAME FILE!!!</span><span lang="zh">请备份原始文件！！！</span></p>
      <button type="button" @click="saveFile"><span lang="en">Patch</span><span lang="zh">打补丁</span></button>
    </template>
  </div>
  <script src="https://cdn.bootcdn.net/ajax/libs/vue/3.2.26/vue.global.prod.js"></script>
  <script>
    'use strict';
    const { markRaw, createApp } = Vue;

    const options = {
      Joker: {
        Normal: 'H0000_Joker',
        Daily: 'H0500_Hero_Daily',
        Swim: 'H0520_Hero_Swim',
        Yukata: 'H0530_Hero_Yukata',
        Towel: 'H0540_Hero_Towel',
      },
      Skull: {
        Normal: 'H0001_Skull',
        Daily: 'H0501_Ryuji_Daily',
        Swim: 'H0521_Ryuji_Swim',
        Yukata: 'H0531_Ryuji_Yukata',
        Towel: 'H0541_Ryuji_Towel',
      },
      Mona: {
        Normal: 'H0002_Mona',
        Daily: 'H0502_Morgana_Daily',
      },
      Panther: {
        Normal: 'H0003_Panther',
        Daily: 'H0503_Ann_Daily',
        Swim: 'H0523_Ann_Swim',
        Yukata: 'H0533_Ann_Yukata',
        Towel: 'H0543_Ann_Towel',
      },
      Fox: {
        Normal: 'H0004_Fox',
        Daily: 'H0504_Yusuke_Daily',
        Swim: 'H0524_Yusuke_Swim',
        Yukata: 'H0534_Yusuke_Yukata',
        Towel: 'H0544_Yusuke_Towel',
      },
      Queen: {
        Normal: 'H0005_Queen',
        Daily: 'H0505_Makoto_Daily',
        Swim: 'H0525_Makoto_Swim',
        Yukata: 'H0535_Makoto_Yukata',
        Towel: 'H0545_Makoto_Towel',
      },
      Noir: {
        Normal: 'H0006_Noir',
        Daily: 'H0506_Haru_Daily',
        Swim: 'H0526_Haru_Swim',
        Yukata: 'H0536_Haru_Yukata',
        Towel: 'H0546_Haru_Towel',
      },
      Navi: {
        Normal: 'H0007_Navi',
        Daily: 'H0507_Futaba_Daily',
        Swim: 'H0527_Futaba_Swim',
        Yukata: 'H0537_Futaba_Yukata',
        Towel: 'H0547_Futaba_Towel',
      },
      Sophie: {
        Normal: 'H0008_Sophie',
        Daily: 'H0508_Sophia_Daily',
      },
    };
    Object.values(options).forEach(config => {
      Object.entries(config).forEach(([key, value]) => {
        value += '\xEF\xBC\xBD\0';
        config[key] = value;
      });
    });
    createApp({
      data() {
        return {
          options: markRaw(options),
          charactors: markRaw(Object.keys(options)),
          values: null,
          addresses: null,
        };
      },
      methods: {
        async readFile() {
          /** @type {HTMLInputElement} */
          const input = this.$refs.file;
          const arr = this.arr = new Uint8Array(await input.files[0].arrayBuffer());
          const baseStr = 'H6011_Valjean_Chain_R\xEF\xBC\xBD\0';
          const baseAddr = arr.findIndex((value, index, arr) => {
            for (let i = 0; i < baseStr.length; ++i) {
              if (arr[index + i] !== baseStr.codePointAt(i)) return;
            }
            return true;
          });
          if (baseAddr < 0) {
            alert('Unknown version found');
            return;
          }
          this.addresses = markRaw({
            Joker:   baseAddr + 0x68 + 0x60 * 0,
            Skull:   baseAddr + 0x68 + 0x60 * 1,
            Mona:    baseAddr + 0x68 + 0x60 * 2,
            Panther: baseAddr + 0x68 + 0x60 * 3,
            Fox:     baseAddr + 0x68 + 0x60 * 4,  // Fox uses 0x58 bytes
            Queen:   baseAddr + 0x68 + 0x60 * 4 + 0x58,
            Noir:    baseAddr + 0x68 + 0x60 * 5 + 0x58,
            Navi:    baseAddr + 0x68 + 0x60 * 6 + 0x58,
            Sophie:  baseAddr + 0x68 + 0x60 * 7 + 0x58,
          });

          const values = {};
          Object.entries(this.addresses).forEach(/** @param {[string, number]} */([name, addr]) => {
            values[name] = '';
            for (let i = 0; i < 25; ++i) {
              const c = arr[addr + i];
              values[name] += String.fromCharCode(c);
              if (c === 0) break;
            }
          });
          this.values = values;
        },
        saveFile() {
          /** @type {Uint8Array} */
          const arr = this.arr;
          Object.entries(this.values).forEach(/** @param {[string, string]} */([name, str]) => {
            arr.set([...str].map(x => x.charCodeAt(0)), this.addresses[name]);
          });
          const blob = new Blob([arr.buffer]);
          const url = URL.createObjectURL(blob);
          const a = document.createElement('a');
          a.download = 'game-patched.exe';
          a.href = url;
          a.click();
          setTimeout(() => URL.revokeObjectURL(url));
        },
      },
    }).mount('#app');
  </script>
</body>
</html>
