<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>P5S Charactor Custume Mod</title>
  <style>* { box-sizing: border-box; }</style>
</head>
<body>
  <h1>P5S Charactor Custume Changer</h1>
  <div id="app">
    <label>Select 'game.exe' in P5S game folder: <input type="file" ref="file" accept="game.exe;*.exe" @change="readFile" :disabled="values" /></label>

    <table border="1" style="width: 500px; margin-top: 16px" v-if="values">
      <tr>
        <th>Charactor</th>
        <th>Custume</th>
      </tr>
      <tr v-for="name of charactors" :key="name">
        <td v-text="name"></td>
        <td>
          <select v-model="values[name]" style="width: 100%">
            <option v-for="(str, custume) in options[name]" :key="custume" :value="str">{{custume}}</option>
          </select>
        </td>
      </tr>
    </table>

    <input v-if="values" type="button" value="Patch" @click="saveFile" style="margin-top: 16px" />
  </div>
  <script src="https://cdn.bootcdn.net/ajax/libs/vue/3.0.11/vue.global.prod.js"></script>
  <script>
    'use strict';
    const { markRaw, createApp } = Vue;

    const addresses = {
      Joker: 0x0191E403,
      Skull: 0x0191E463,
      // No graph
      // Mona: 0x0191E4C3,
      Panther: 0x0191E523,
      // No enough space
      // Fox: 0x0191E583,
      Queen: 0x0191E5DB,
      Noir: 0x0191E63B,
      Navi: 0x0191E69B,
      // No graph
      // Sophie: 0x0191E6FB,
    };

    const options = {
      Joker: {
        Normal: 'H0000_Joker',
        Daily: 'H0500_Hero_Daily',
        Swim: 'H0520_Hero_Swim',
        Yukata: 'H0530_Hero_Yukata',
        Towel: 'H0540_Hero_Towel',
      },
      Skull: {
        Normal: 'H0001_Skull',
        Daily: 'H0501_Ryuji_Daily',
        Swim: 'H0521_Ryuji_Swim',
        Yukata: 'H0531_Ryuji_Yukata',
        Towel: 'H0541_Ryuji_Towel',
      },
      Mona: {
        Normal: 'H0002_Mona',
        Daily: 'H0502_Morgana_Daily',
        Swim: 'H0522_Morgana_Swim',
        Yukata: 'H0532_Morgana_Yukata',
        Towel: 'H0542_Morgana_Towel',
      },
      Panther: {
        Normal: 'H0003_Panther',
        Daily: 'H0503_Ann_Daily',
        Swim: 'H0523_Ann_Swim',
        Yukata: 'H0533_Ann_Yukata',
        Towel: 'H0543_Ann_Towel',
      },
      Fox: {
        Normal: 'H0004_Fox',
        Daily: 'H0504_Yusuke_Daily',
        Swim: 'H0524_Yusuke_Swim',
        Yukata: 'H0534_Yusuke_Yukata',
        Towel: 'H0544_Yusuke_Towel',
      },
      Queen: {
        Normal: 'H0005_Queen',
        Daily: 'H0505_Makoto_Daily',
        Swim: 'H0525_Makoto_Swim',
        Yukata: 'H0535_Makoto_Yukata',
        Towel: 'H0545_Makoto_Towel',
      },
      Noir: {
        Normal: 'H0006_Noir',
        Daily: 'H0506_Haru_Daily',
        Swim: 'H0526_Haru_Swim',
        Yukata: 'H0536_Haru_Yukata',
        Towel: 'H0546_Haru_Towel',
      },
      Navi: {
        Normal: 'H0007_Navi',
        Daily: 'H0507_Futaba_Daily',
        Swim: 'H0527_Futaba_Swim',
        Yukata: 'H0537_Futaba_Yukata',
        Towel: 'H0547_Futaba_Towel',
      },
      Sophie: {
        Normal: 'H0008_Sophie',
        Daily: 'H0508_Sophia_Daily',
      },
    };
    const valueLength = 21;
    Object.values(options).forEach(config => {
      Object.entries(config).forEach(([key, value]) => {
        value += '\xEF\xBC\xBD';
        value = value.padEnd(valueLength, '\0');
        config[key] = value;
      });
    });
    createApp({
      data() {
        return {
          options: markRaw(options),
          charactors: markRaw(Object.keys(addresses)),
          values: null,
        };
      },
      methods: {
        async readFile() {
          /** @type {HTMLInputElement} */
          const input = this.$refs.file;
          const arr = this.arr = new Uint8Array(await input.files[0].arrayBuffer());
          if (arr.length !== 39259288 || arr[0] !== 77) {
            alert('Invalid file found. Only Ver.1.00 is supported. File size: 38340KB');
            return;
          }

          const values = {};
          Object.entries(addresses).forEach(/** @param {[string, number]} */([name, addr]) => {
            values[name] = String.fromCharCode(...arr.slice(addr, addr + valueLength));
          });
          this.values = values;
        },
        saveFile() {
          /** @type {Uint8Array} */
          const arr = this.arr;
          Object.entries(this.values).forEach(/** @param {[string, string]} */([name, str]) => {
            arr.set([...str].map(x => x.charCodeAt(0)), addresses[name]);
          });
          const blob = new Blob([arr.buffer]);
          const url = URL.createObjectURL(blob);
          const a = document.createElement('a');
          a.download = 'game-patched.exe';
          a.href = url;
          a.click();
          setTimeout(() => URL.revokeObjectURL(url));
        },
      },
    }).mount('#app');
  </script>
</body>
</html>
